/* farhanfarruq/vest-the-croze-sheets/vest-the-croze-sheets-34f986b55464a5f0894793a1aac95a7c4a4d53b8/app/globals.css */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";


body {
  box-sizing: border-box;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: red !important;
}